/* add a little bottom space under the images */
.thumbnail {
	margin-bottom:7px;
}

.cardImg {
    height: 145px;
    width:  155px;
}
.numberOfPairs {
	color: #FF0000;
}
.numberOfMatchedPairs {
	color:#008000;
}